.tshirt-caption {
    color: var(--text-subtle);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: #1e2b3e;
    border: 1px solid var(--text-subtle);
    
    padding: 0.5rem 1rem;
    border-radius: 10em;
    cursor: pointer;
}

.active {
    color: var(--text-yellow);
    background-color: #c09d591a;
    border: 1px solid var(--text-yellow);
}