.header {
    min-height: 100vh;
    background: var(--dark-gradient);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.eyebrow {
    color: var(--text-yellow-opacity-80);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.3em;
}

.header-title {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-family: var(--font-serif);
    font-weight: 900;
    font-size: 3rem;

    margin-bottom: 1.5rem;
}

.title-emphasis {
    -webkit-text-fill-color: var(--light-emphasis);
}

.year {
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--text-yellow);
    margin-bottom: 2rem;
    font-family: var(--font-serif);
    font-weight: 700;
    font-size: 1.25rem;
}

.year::before,
.year::after {
    content: "";
    margin: 0 1rem 0 1rem;
    height: 1px;
    width: 4rem;
    background-image: var(--gradient);
}

.order {
    color: var(--dark);
    text-decoration: none;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;

    padding: 1rem 2.5rem 1rem 2.5rem;
    background: var(--gradient);
    border-radius: 0.75rem;
    box-shadow: 0 0 40px #c09d5926, 0 0 80px #c09d590d;
}

.mouse-icon {
    width: 1.5rem;
    height: 2.5rem;
    border: 1px solid var(--text-yellow-opacity-80);
    border-radius: 10em;

    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 3rem;

    animation: float 2s ease-in-out infinite;
}

.mouse-icon::after {
    content: '';
    height: 8px;
    border: 2px solid var(--text-yellow-opacity-80);
    margin-top: 30%;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

.main {
    padding: 6rem 1.5rem;
}

.first-section {
    display: flex;
    flex-direction: column;

    row-gap: 3rem;
}

.first-section-titles {
    text-align: center;
    margin-bottom: 4rem;
}

.eyebrow-2 {
    text-transform: uppercase;
    color: var(--text-yellow-opacity-50);
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.25em;

    margin-bottom: 0.75rem;
}

.first-section-title {
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: var(--font-serif);
    font-size: 2.25rem;
}

.tshirt {
    box-shadow: var(--shine-box-shadow);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.tshirt-caption-container {
    display: flex;
    gap: 0.75rem;
    justify-content: center;

    margin-top: 1.5rem;
}

.tshirt-caption {
    color: var(--text-yellow);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;

    padding: 0.5rem 1rem;
    background-color: #c09d591a;
    border: 1px solid var(--text-yellow);
    border-radius: 10em;
    cursor: pointer;
}

.printed-tshirt {
    font-family: var(--font-serif);
    color: var(--light-emphasis);
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.specification-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.specification {
    display: flex;
    justify-content: space-between;
}

.specification-title {
    color: var(--text-yellow);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.specification-description {
    color: var(--text-subtle);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.price-container {
    display: flex;
    align-items: baseline;
    column-gap: 0.75rem;

    margin-top: 2rem;
}

.price-container> :first-child {
    color: var(--text-subtle);
}

.price {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 2.25rem;
    font-family: var(--font-serif);
}

.buy {
    background: var(--gradient);
    color: var(--dark);
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 0.75rem;

    text-decoration: none;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    box-shadow: 0 0 40px #c09d5926, 0 0 80px #c09d590d;

    width: fit-content;
}

footer {
    text-align: center;
    padding: 6rem 1.5rem;
}

.church {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

small {
    color: var(--text-subtle);
    font-size: 0.975rem;
    line-height: 1.25rem;
}