@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: var(--dark);
}

:root {
  --gradient: linear-gradient(135deg, #d9bf8c, #c09d59, #967940);
  --dark-gradient: linear-gradient(180deg,#0a121f,#152132,#1e2b3e);
  --dark: #101a29;

  --light-emphasis: #ebe7e0;
  --text-yellow: #c09d59;
  --text-yellow-opacity-80: #c09d59cc;
  --text-yellow-opacity-50: #c09d5999;
  --text-subtle: #7b899d;



  --font-serif: Playfair Display, serif;

  --shine-box-shadow: 0 0 40px #c09d5926, 0 0 80px #c09d590d;
}